[submodule "submodules/awesome-mcp-servers-punkpeye"]
	path = submodules/awesome-mcp-servers-punkpeye
	url = https://github.com/punkpeye/awesome-mcp-servers
[submodule "submodules/awesome-mcp-servers-appcypher"]
	path = submodules/awesome-mcp-servers-appcypher
	url = https://github.com/appcypher/awesome-mcp-servers
[submodule "submodules/awesome-mcp-servers-wong2"]
	path = submodules/awesome-mcp-servers-wong2
	url = https://github.com/wong2/awesome-mcp-servers
[submodule "submodules/toolsdk-mcp-registry"]
	path = submodules/toolsdk-mcp-registry
	url = https://github.com/toolsdk-ai/toolsdk-mcp-registry
[submodule "submodules/awesome-ai-apps"]
	path = submodules/awesome-ai-apps
	url = https://github.com/Arindam200/awesome-ai-apps
[submodule "submodules/dotfiles"]
	path = submodules/dotfiles
	url = https://github.com/TheNoeTrevino/dotfiles
[submodule "submodules/anthropics-skills"]
	path = submodules/anthropics-skills
	url = https://github.com/anthropics/skills
[submodule "submodules/openai-skills"]
	path = submodules/openai-skills
	url = https://github.com/openai/skills
[submodule "submodules/stared-gemini-claude-skills"]
	path = submodules/stared-gemini-claude-skills
	url = https://github.com/stared/gemini-claude-skills
[submodule "submodules/bkircher-skills"]
	path = submodules/bkircher-skills
	url = https://github.com/bkircher/skills
[submodule "submodules/ykdojo-claude-code-tips"]
	path = submodules/ykdojo-claude-code-tips
	url = https://github.com/ykdojo/claude-code-tips
[submodule "submodules/robertpelloni-metamcp"]
	path = submodules/robertpelloni-metamcp
	url = https://github.com/robertpelloni/metamcp
[submodule "submodules/a2aproject-A2A"]
	path = submodules/a2aproject-A2A
	url = https://github.com/a2aproject/A2A
[submodule "submodules/4regab-TaskSync"]
	path = submodules/4regab-TaskSync
	url = https://github.com/4regab/TaskSync
